html,
body {
  background-color: #E8F5E9;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  color: #024731;
  margin: 20px 0;
}

.add-definition-card {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;

}

.submit-button {
  position: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  background: #E8F5E9;
  color: #024731;
  border: 2px solid #024731;
  border-radius: 10px;
  width: 40%;
  padding: 10px 24px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.15s;
}
.submit-button:hover {
  background-color: #024731;
  color: #E8F5E9;
  border: 2px solid #024731;
}